<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
	<div id = "wrapper">
	<div id = "top_nav">
		<h1><%= image_tag("http://i50.tinypic.com/nlpht1.jpg", :size => '200x280') %> <br> 
			A Message Board for Friends</h1>
		</div>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Back to the Boards", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right", div align = "right">
              <%= link_to "Home",    '#' %>
              <%= link_to "Help",    '#' %>
              <%= link_to "Sign in", '#' %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
